/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar */
li.nav-link {
  display: inline-block;
}

.link {
  color: black;
  text-decoration: none;
  padding: 5px;
}

nav#navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-family: sans-serif;
  font-size: large;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
}
/* End of Navbar */

/* Landing styles */
#landing {
  background-image: url(Home.jpg);
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

#landing h1,
#landing h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  text-shadow: 1px 4px 8px black;
}

/* Section styles */
section {
  min-height: 100vh;
}
section:nth-of-type(even) {
  background-color: grey;
}

/* About */
.image {
  width: 50%;
}
#about {
  display: flex;
  padding: 10px solid;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#about h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
  font-family: sans-serif;
}
.content {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
}
/* End of about */

/* SKills page */
#skills {
  min-height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}
#skills > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 29%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 1px 1px 8px black;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

i {
  font-size: 2rem;
  margin-left: 40%;
}
/* End of skills page */

/* Contact page */
#contact h2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
  font-family: sans-serif;
}
.label {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  color: white;
  font-family: sans-serif;
}
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  font-family: sans-serif;
}
