/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar */
li.nav-link {
  display: inline-block;
}

.link {
  color: black;
  text-decoration: none;
  padding: 5px;
}

nav#navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-family: sans-serif;
  font-size: large;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  padding-right: 10px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  display: none;
}
/* End of Navbar */

/* Landing styles */
#landing {
  background-image: url(Home.jpg);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

#landing h1,
#landing h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  text-shadow: 1px 4px 8px black;
}
/* End of landing page */

/* Section styles */
section {
  min-height: fit-content;
  padding: 40px;
}
section:nth-of-type(even) {
  background-color: grey;
}
/* End of section styles */

/* About */
.image-container {
  width: 50%;
}
.image {
  width: 50%;
}
.about-text {
  width: 100%;
}
.information-container {
  padding-right: 20px;
  color: white;
  width: 50%;
  font-family: sans-serif;
}
.information-container p {
  margin-bottom: 50px;
}
ul {
  list-style-type: none;
}
#about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: sans-serif;
}
#about h2 {
  padding-bottom: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}
.content {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: white;
}
/* End of about */

/* Services page */
#services {
  min-height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
#services > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.card {
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 8px white;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.card h4 {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.card p {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i {
  font-size: 2rem;
  margin-bottom: 20px;
}
.card:hover {
  color: aqua;
}
/* End of services page */

/* Start of project page */
#projects {
  min-height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: black;
}
#projects > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.template {
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 8px black;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.project {
  width: 100%;
  height: 100%;
}
.template:hover {
  color: purple;
}
/* End of project page */

/* Testimonials */
#testimonials h2 {
  color: white;
  padding-bottom: 20px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: grey;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 20px;
  color: black;
}
/* End of testimonials */

/* Contact page */
#contact {
  display: flex;
  flex-direction: row;
}
.form {
  width: 100%;
  margin-right: 20px;
}
#contact h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-family: sans-serif;
}
.label {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: sans-serif;
  margin-bottom: 60px;
}
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  width: 100%;
}
.text-container {
  width: 100%;
}
.text-container h2 {
  margin-bottom: 10px;
}
.text-container p {
  color: black;
  font-family: sans-serif;
}
.communication {
  margin-top: 40px;
  font-family: sans-serif;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}
/* End of contact page */
/* Media queries */
/* widths ordered from largest to smallest */
@media screen and (max-width: 700px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .link {
    display: none;
  }
  .button {
    display: block;
  }
  #contact {
    display: flex;
    flex-direction: column;
  }
  form {
    margin-bottom: 20px;
  }
  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .information-container {
    width: 100%;
    margin-top: 20px;
  }
  .services-container {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 85%;
  }
  .card p {
    text-align: left;
  }
}
